
.dart_tool/
build/
pubspec.lock

# FVM Version Cache
.fvm/

.idea/
*.iml

.vscode/

# macOS / IDE 杂物
.DS_Store

# Flutter GeneratedPluginSwiftPackage 本地缓存
ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
ios/Runner.xcworkspace/xcshareddata/swiftpm/
